<a href="https://colab.research.google.com/github/Karthik-kudikilla/2216116-AIML/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Implement the methods of String with examples

In [11]:
str1='karthik is a good boy '
print(str1.upper())

print(str1.lower())

print(str1.title())

print(str1.capitalize())

#strip
s='aaaaakarthikaaaa'
print(s.strip('a'))
print(s.lstrip('a'))
print(s.rstrip('a'))

#count
print(s.count('a'))


k=str1.isalnum()
print(k)
k=str1.isalpha()
print(k)

KARTHIK IS A GOOD BOY
karthik is a good boy
Karthik Is A Good Boy
Karthik is a good boy
karthik
karthikaaaa
aaaaakarthik
10
False
False

2. Implement the methods of List with examples.

In [19]:
l=[1,2,3,'karthik','apple']
print(l)
#methods of adding an elements into the list
l.append(2.3)
print(l)

l.insert(2,9.5)
print(l)

l.extend([4,5,6])
print(l)
#Methods to delete the list elements
l.pop()
print(l)
l.pop(0)
print(l)
l.remove(3)
print(l)

#reversing
l.reverse()
print(l)

#index
print(l.index('karthik'))
l.clear()
print(l)

[1, 2, 3, 'karthik', 'apple']
[1, 2, 3, 'karthik', 'apple', 2.3]
[1, 2, 9.5, 3, 'karthik', 'apple', 2.3]
[1, 2, 9.5, 3, 'karthik', 'apple', 2.3, 4, 5, 6]
[1, 2, 9.5, 3, 'karthik', 'apple', 2.3, 4, 5]
[2, 9.5, 3, 'karthik', 'apple', 2.3, 4, 5]
[2, 9.5, 'karthik', 'apple', 2.3, 4, 5]
[5, 4, 2.3, 'apple', 'karthik', 9.5, 2]
4
[]

3. Implement the methods of Tuple with examples

In [22]:
t=(1,2,3,'karthik',1,1,2.5)
print(t)
print('The value 1 is repeated',t.count(1),'times in the tuple')
print('The index of value karthik is :',t.index('karthik'))

(1, 2, 3, 'karthik', 1, 1, 2.5)
The value 1 is repeated 3 times in the tuple
The index of value karthik is : 3

4. Implement the methods of Dictionary with examples.

In [35]:
bd={'name':'karthik','age':20,'phnno':9652765367}
print(bd)

print(bd.keys())

print(bd.values())

bd.pop('name')
print(bd)

bd.popitem()
print(bd)
x=bd.copy()
print(x)

x.update({'address':'Hyderabad'})
print(x)

print(x.items())

x.clear()
print(x)

{'name': 'karthik', 'age': 20, 'phnno': 9652765367}
dict_keys(['name', 'age', 'phnno'])
dict_values(['karthik', 20, 9652765367])
{'age': 20, 'phnno': 9652765367}
{'age': 20}
{'age': 20}
{'age': 20, 'address': 'Hyderabad'}
dict_items([('age', 20), ('address', 'Hyderabad')])
{}

5. Implement the methods of Set with examples.

In [42]:
s={1,2,3,'karthik',2.5}
p={}
print(s)
s.add(4)
print(s)
l=(3,5.6,'karthik')
print(s.union(l))

print(s.intersection(l))

print(s.difference(l))

s.remove('karthik')

s.update({25,'karthik'})

p=s.copy
print(p)

{1, 2.5, 2, 3, 'karthik'}
{1, 2.5, 2, 3, 4, 'karthik'}
{1, 2.5, 2, 3, 4, 5.6, 'karthik'}
{3, 'karthik'}
{1, 2.5, 2, 4}
<built-in method copy of set object at 0x7ff7c82bdc80>

6. Write a python program to convert Decimal to Binary, Octal and Hexadecimal with direct method.

In [44]:
k=25
print(bin(k))
print(oct(k))
print(hex(k))

0b11001
0o31
0x19

7. Implement Arithmetic operators with examples.

In [46]:
a=int(input('Enter a number'))
b=int(input('Enter another number'))
#addition
print(a+b)
#substraction
print(a-b)
#multiplication
print(a*b)
#division
print(a/b)
#floor divisoin
print(a//b)
#power
print(a**3)

Enter a number9
Enter another number6
15
3
54
1.5
1
729

8. Implement Assignment operators with examples.

In [51]:
a=10
b=20
print('a , b')
print(a,b)
a+=b
print(a,b)
a-=b
print(a,b)
a*=b
print(a,b)
a/=b
print(a,b)
a//=b
print(a,b)

a , b
10 20
30 20
10 20
200 20
10.0 20
0.0 20

9. Implement Comparison operators with examples.

In [52]:
a=10
b=20
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)

False
True
False
True
True

10. Implement Logical operators with examples.

In [53]:
a,b=10,20
print(a>b and b>a)
print(a>b or b>a)
print(not (a>b))

False
True
True

11. Implement Bitwise operators with examples.

In [57]:
a=2
b=3
print(a&b)
print(a|b)
print(~a)
print(a<<2)
print(b>>3)

2
3
-3
8
0

12. Implement Membership operators with examples.

In [58]:
s='Gradstellar'
print('a' in s)
print('c' not in s)

True
True

13. Implement Identity operators with examples

In [60]:
a=10
b=20
print(a is b)
print(a is not b)

False
True

14. Demonstrate Negative indexing for List and apply slicing.

In [65]:
l=[1,2,3,4]
print(l[-1])
print(l[-1::-1])
print(l[:])
print(l[0:])
print(l[1:3:1])

4
[4, 3, 2, 1]
[1, 2, 3, 4]
[1, 2, 3, 4]
[2, 3]

15. Predict the output for the given code snippet and justify the result.

In [68]:
print('A series of characters designated as one object known as a string'[::-1][4::3])
print("..............")
print('Welcome to python traing program'[3:10][::-1])

taawkcbe  tgestrcoeeA
gnirts a sa nwonk tcejbo eno sa detangised sretcarahc fo seires A
..............
ot emoc

16. Write a python code to get desired output,
Input string:p_phrase="was it a car or a cat I saw",
Output string:WAS I TAC A RO RAC A TI SAW

In [70]:
s="was it a car or a cat I saw"
k=s[::-1]
print(k.upper())

WAS I TAC A RO RAC A TI SAW

17. You are required to generate a word similar to ZOO, X and Y that denote the number
of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X.
 Input X= 2 Output ZZOOOO
 Input X= 5 Output ZZZZZOOOOOOOOOO

In [73]:
x='z'
y='o'
x1=int(input('Enter how many times u want z'))
y1=2*x1
for i in range(0,x1):
  print(x,end='')
for i in range(0,y1):
  print(y,end='')

Enter how many times u want z5
zzzzzoooooooooo